<div id="hotel-view" class="xmas" ng-if="isBootstrapped">
	<div id="hotel-view-container">
		<div id="hotel-view-beans">
			<div style="margin-top: 10vh; overflow: none;"></div>
			<!-- <div id="hotel-view-beans-limited">
				<a class="illumina-button" ng-click="featureNotImplemented()">Check it out</a>
				<img src="http://www.habboxwiki.com/wiki/images/e/eb/Flower_Arrangement.png">
				<h1>
				Brass Water Lilly Pot Rare every 120 credits!
				<div id="hotel-view-beans-limited-bar">
					<p>Only 120/120 credits to go!</p>
					<div id="hotel-view-beans-limited-bar-progress"></div>
				</div>
				</h1>
			</div> -->
			<div class="bean">
				<img
				 class="fair-circle"
				 src="https://assets.change.org/photos/6/nv/ok/PVNvoKixjKpTWiz-400x400-noPad.jpg?1546132667">
				<div>
					<span>
						<h1>New serve of baked beans</h1>
						<p>Big nigga ate them all!</p>
					</span>
					<a class="illumina-button" ng-href="#!/room"> go to the room!</a>
				</div>
			</div>
			<div class="bean small">
				<div>
					<span>
						<h1>Welcome to Habbo Hotel</h1>
						<p>This is a test message for Habbo</p>
					</span>
					<a class="illumina-button" ng-click="featureNotImplemented()"> Go to room</a>
				</div>
			</div>
			<div class="bean">
				<img
				 class="fair-circle"
				 src="https://assets.change.org/photos/6/nv/ok/PVNvoKixjKpTWiz-400x400-noPad.jpg?1546132667">				<div>
					<span>
						<h1>Santa's coming today</h1>
						<p>Prepare some cookies and clean up your chimney...</p>
					</span>
					<a class="illumina-button" ng-click="featureNotImplemented()"> Go to room</a>
				</div>
			</div>
			<div class="bean small">
				<div>
					<span>
						<h1>Jesus Christ!</h1>
						<p>Is our lord and saviour, bitch</p>
					</span>
					<a class="illumina-button" ng-click="featureNotImplemented()"> Go to heaven</a>
				</div>
			</div>
		</div>
		<div id="hotel-view-drape"></div>
	</div>
	<div id="hotel-view-left-background">
		<div id="hotel-view-avatar">
			<img src="https://www.habbo.com.tr/habbo-imaging/avatarimage?figure={{ userinfo.figure }}&size=n&direction=2&head_direction=2&crr=3&gesture=sml&frame=3">
		</div>
	</div>
	<div id="hotel-view-right-background"></div>

	<!-- <div id="debug" style="z-index: 1000;">DEBUG: {{ clientCount }} users online</div> -->
</div>
